{{>head}}
<body>
    {{>header}}
    <main>
        <h3>Use this site to get your weather!</h3>
        <form action="" id="myform">

            <input type="text" required name="location" placeholder="Enter the location"><br>
            <button>Search</button>
        </form>

        <div class="result">

        </div>
    </main>


    {{>footer}}
    <script src="/js/app.js"></script>

</body>
</html>